[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "==2.8.4"
Flask = "==1.0.2"
Flask-SQLAlchemy = "==2.3.0"
flask-restx = "*"

[dev-packages]

[requires]
python_version = "3.8"
